* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightseagreen;
    width: 100%;
    min-height: 100vh; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#formularioBlog {
    background-color: white;
    width: 455px;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    padding: 10px 0;
}

#formularioBlog > .containerDadados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formularioBlog > .containerDadados > input,
#formularioBlog > .containerDadados > textarea {
    width: 351px;
    height: 27px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 50%);
}

#formularioBlog > .containerDadados > textarea {
    height: 114px;
    resize: none;
}

#containerBtns {
    flex-direction: row;
}

#btnPost {
    border: none;
    width: 93px;
    height: 40px;
    background-color: #6CBAFF;
    color: #0088FF;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
}

#btnIrParaPostagens {
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bolder;
    font-size: 15px;
}